{{ ansible_managed | comment }}

#
# This is the ssh client system-wide configuration file.  See
# ssh_config(5) for more information.  This file provides defaults for
# users, and the values can be changed in per-user configuration files
# or on the command line.

# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

# Site-wide defaults for some commonly used options.  For a comprehensive
# list of available options, their meanings and defaults, please see the
# ssh_config(5) man page.

Host *
#  ForwardAgent no
#  ForwardX11 no
#  ForwardX11Trusted yes
#  RhostsRSAAuthentication no
#  RSAAuthentication yes
#  PasswordAuthentication yes
#  HostbasedAuthentication no
#  GSSAPIAuthentication no
#  GSSAPIDelegateCredentials no
#  GSSAPIKeyExchange no
#  GSSAPITrustDNS no
#  BatchMode no
#  CheckHostIP yes
#  AddressFamily any
#  ConnectTimeout 0
#  StrictHostKeyChecking ask
#  IdentityFile ~/.ssh/identity
#  IdentityFile ~/.ssh/id_rsa
#  IdentityFile ~/.ssh/id_dsa
#  IdentityFile ~/.ssh/id_ecdsa
#  IdentityFile ~/.ssh/id_ed25519
#  Port 22
#  Cipher 3des
#  Ciphers aes128-ctr,aes192-ctr,aes256-ctr,arcfour256,arcfour128,aes128-cbc,3des-cbc
#  MACs hmac-md5,hmac-sha1,umac-64@openssh.com,hmac-ripemd160
#  EscapeChar ~
#  Tunnel no
#  TunnelDevice any:any
#  PermitLocalCommand no
#  VisualHostKey no
#  ProxyCommand ssh -q -W %h:%p gateway.example.com
#  RekeyLimit 1G 1h
   SendEnv LANG LC_*
   HashKnownHosts yes
   GSSAPIAuthentication yes
{% if sshd_config.protocol is defined %}
   # Define SSH protocols to use
   Protocol {{ sshd_config.protocol }}
{% endif %}
{% if sshd_config.kex_algorithms is defined %}
   # Specifies the available KEX (Key Exchange) algorithms
   KexAlgorithms {{ sshd_config.kex_algorithms }}
{% endif %}
{% if sshd_config.ciphers is defined %}
   # Specifies the ciphers allowed
   Ciphers {{ sshd_config.ciphers }}
{% endif %}
{% if sshd_config.macs is defined %}
   # Specifies the available MAC (message authentication code) algorithms
   MACs {{ sshd_config.macs }}
{% endif %}
{% if sshd_config.password_authentication is defined %}
   # Login authorization with password
   PasswordAuthentication {{ sshd_config.password_authentication }}
{% endif %}
{% if sshd_config.pubkey_authentication is defined %}
   # Force authentication with public key
   PubkeyAuthentication {{ sshd_config.pubkey_authentication }}
{% endif %}
{% if sshd_config.host_key_algorithms is defined %}
   # Algorithms to use with HostKeys
   HostKeyAlgorithms {{ sshd_config.host_key_algorithms }}
{% endif %}
{% if sshd_config.use_roaming is defined %}
   # Disabled roaming usage
   UseRoaming {{ sshd_config.use_romaing }}
{% endif %}
