{{ ansible_managed | comment }}

#
#	$OpenBSD: sshd_config,v 1.100 2016/08/15 12:32:04 naddy Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

{% if sshd_config.protocol is defined %}
   # Define SSH protocols to use
   Protocol {{ sshd_config.protocol }}
{% endif %}
Port {{ sshd_config.port | default(22) }}
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::

#HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_ecdsa_key
{% if sshd_config.host_key is defined %}
# Enable ed25519 keys type
HostKey {{ sshd_config.host_key }}
{% endif %}

# Ciphers and keying
#RekeyLimit default none
{% if sshd_config.kex_algorithms is defined %}
# Specifies the available KEX (Key Exchange) algorithms
KexAlgorithms {{ sshd_config.kex_algorithms }}
{% endif %}
{% if sshd_config.ciphers is defined %}
# Specifies the ciphers allowed
Ciphers {{ sshd_config.ciphers }}
{% endif %}
{% if sshd_config.macs is defined %}
# Specifies the available MAC (message authentication code) algorithms
MACs {{ sshd_config.macs }}
{% endif %}

# Logging
#SyslogFacility AUTH
#LogLevel INFO

# Authentication:

#LoginGraceTime 2m
{% if sshd_config.permit_root_login is defined %}
# Disabling root login
PermitRootLogin {{ sshd_config.permit_root_login }}
{% endif %}
#StrictModes yes
#MaxAuthTries 6
{% if sshd_config.max_sessions is defined %}
# Specifies the maximum number of open shell, login or subsystem
MaxSessions {{ sshd_config.max_sessions }}
{% endif %}

{% if sshd_config.pubkey_authentication is defined %}
# Force authentication with public key
PubkeyAuthentication {{ sshd_config.pubkey_authentication }}
{% endif %}

# Expect .ssh/authorized_keys2 to be disregarded by default in future.
#AuthorizedKeysFile	.ssh/authorized_keys .ssh/authorized_keys2

#AuthorizedPrincipalsFile none

#AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
#HostbasedAuthentication no
# Change to yes if you don't trust ~/.ssh/known_hosts for
# HostbasedAuthentication
#IgnoreUserKnownHosts no
{% if sshd_config.ignore_rhosts is defined %}
# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts {{ sshd_config.ignore_rhosts }}
{% endif %}

# To disable tunneled clear text passwords, change to no here!
{% if sshd_config.password_authentication is defined %}
# Login authorization with password
PasswordAuthentication {{ sshd_config.password_authentication }}
{% endif %}

{% if sshd_config.password_authentication is defined %}
# Permit usage of empty passwords
PermitEmptyPasswords {{ sshd_config.password_empty_passwords }}
{% endif %}

{% if sshd_config.group_ssh_users is defined %}
# Users authorized to log in
AllowGroups {{ sshd_config.group_ssh_users }}
{% endif %}

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no

# Kerberos options
#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no

# GSSAPI options
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM yes

#AllowAgentForwarding yes
#AllowTcpForwarding yes
#GatewayPorts no
{% if sshd_config.x11_forwarding is defined %}
# Allows access to the local X11 display display through the forwarded connection
X11Forwarding {{ sshd_config.x11_forwarding }}
{% endif %}
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
PrintMotd yes
PrintLastLog no
#TCPKeepAlive yes
#UseLogin no
#UsePrivilegeSeparation sandbox
#PermitUserEnvironment no
#Compression delayed
#ClientAliveInterval 0
#ClientAliveCountMax 3
#UseDNS no
#PidFile /var/run/sshd.pid
{% if sshd_config.max_startups is defined %}
# Allows you to specify a maximum number of SSH daemon connections without being authenticated
MaxStartups {{ sshd_config.max_startups }}
{% endif %}

#PermitTunnel no
#ChrootDirectory none
#VersionAddendum none

# no default banner path
#Banner none

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem	sftp	/usr/lib/openssh/sftp-server

# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
#	ForceCommand cvs server
UseDNS no
